/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
  background: url("../images/green_lattice.jpg") repeat  center center fixed;
    /* background: url("../images/tree_bark.png") repeat  center center fixed; */
      /* background: url("../images/bluetile_background_transparency59.png") repeat  center center fixed; */
}

html {
    font-family: 'Forum', cursive,  sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Forum', cursive,  sans-serif;
}

.jumbotron {
   /* background-color: rgba(109,199,67,.75); */    /* light green */
    background-color: rgba(44, 85, 51,1);    /* dark green */
    color: #CCCCCC;
}

.centermystuff {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

footer{
    background-color: rgba(44, 85, 51,1);
}